var chai = require('chai');

chai.should();

var someFunction = (a, b) => a + b;

describe('something', () => {
    it ('should do something', () => {
        someFunction(3, 2).should.equal(5);
    })
    it ('should test stdout', function(){
        it('tests', function(done) {
            proc.stdout.once('data', function(output) {
                expect(output.toString('utf-8')).to.eq('Would you like to play?\n');
                done();
            });
        });
    })
})