{
    "presets": ["features"],
    "plugins": [
        "babel-plugin-transform-class-properties",
        "babel-plugin-add-module-exports",
        "babel-plugin-compile-cheddar",
        "babel-plugin-tailcall-optimization",
        "babel-plugin-loop-optimizer"
    ],
    "env": {
        "production": {
            "plugins": [
                "babel-plugin-strip-checks"
            ]
        }
    }
}
