# Node modules
/node_modules/*

!/node_modules/shoco/
!/node_modules/prompt-sync/


# junk
npm-debug.log
coverage

# Left overs
/src
/cheddar

# Local test filescoverage

.travis.yml
/disf
/cheddar

# Local test files
TODO.md
/*.cdr
/*.bf